[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/getzola/after-dark.git
[submodule "themes/shadharon"]
	path = themes/shadharon
	url = https://github.com/syedzayyan/shadharon
[submodule "themes/zola-gruvbox"]
	path = themes/zola-gruvbox
	url = https://github.com/spiperac/zola-gruvbox
