<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    
    {# CSS #}
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ get_url(path='favicon.ico') }}" />
    
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% include "nav.html" %}
    
    <div class="content">
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    
    {% include "footer.html" %}
</body>
</html>
