<a href="#top" class="top-btn">⏫</a>
<footer>
    <a href="https://mastodon.social/@spiperac" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/mastodon.svg" alt="Mastodon" style="width: 24px; height: 24px;" />
    </a>

    <a href="https://github.com/spiperac" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg" alt="GitHub" style="width: 24px; height: 24px;" />
    </a>

    <a href="mailto:sp@spiperac.dev">
        <img src="https://www.svgrepo.com/show/14478/email.svg" alt="Email" style="width: 24px; height: 24px;" />
    </a>

    <p>© {{ now() | date(format="%Y") }} {{ config.extra.author | default(value=config.title) }}</p>
</footer>
