{% extends "base.html" %}

{% block content %}
    {% if section.content %}
        {{ section.content | safe }}
    {% endif %}
    
    <ul class="blog-post-list">
        {% for page in paginator.pages %}
        <li class="blog-post-item">
            <div class="blog-post-line">
                <span class="blog-post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                #
                <a class="blog-post-title" href="{{ page.permalink }}">{{ page.title }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>

    {% if paginator.number_pagers > 1 %}
    <nav class="pagination">
        {% if paginator.previous %}
            <a href="{{ paginator.previous }}">← Previous</a>
        {% endif %}
        <span>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</span>
        {% if paginator.next %}
            <a href="{{ paginator.next }}">Next →</a>
        {% endif %}
    </nav>
    {% endif %}
{% endblock content %}
