{% extends "base.html" %}

{% block content %}
    <h1>{{ section.title }}</h1>
    
    {% if section.content %}
        {{ section.content | safe }}
    {% endif %}
    
    <ul class="blog-post-list">
        {% for page in section.pages %}
            <li class="blog-post-item">
                <span class="blog-post-title">
                    {{ page.date | date(format="%Y-%m-%d") }} # <a href="{{ page.permalink }}">{{ page.title }}</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
