{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block content %}
    <article>
        <header>
            <h1>{{ page.title }}</h1>
            <div class="blog-post-date">

                Published: {{ page.date | date(format="%Y-%m-%d") }}
                <span style="margin-left:2em;">
                    <img src="{{ get_url(path="images/read_time.svg") }}" class="svg" alt="Clock" style="width:1em; height:1em; vertical-align:middle;">
                    Read time: {{ page.reading_time }} min
                </span>

                {% if page.updated %}
                    | Updated: {{ page.updated | date(format="%Y-%m-%d") }}
                {% endif %}
            </div>
        </header>
        
        {% if page.toc %}
            <div id="table-of-contents">
                <h2>Table of Contents</h2>
                <ul>
                    {% for h1 in page.toc %}
                        <li>
                            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                            {% if h1.children %}
                                <ul>
                                    {% for h2 in h1.children %}
                                        <li>
                                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div class="blog-content">
            {{ page.content | safe }}
        </div>
    </article>
{% endblock content %}
